<link rel="stylesheet" href="/assets/loginstyle.css">
<div id="wrapper">

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:class => "login-form"}) do |f| %>
      <div class="header">
        <h2>Sign up</h2>
      </div>
      <%= devise_error_messages! %>

      <div class="content">
        <%= f.label :email %><br/>
        <%= f.email_field :email, autofocus: true, :class => "input username" %>

        <%= f.label :password %>
        <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "off", :class => "input password" %><br/>



        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "off", :class => "input password" %>

      </div>

      <div class="footer">
        <%= f.submit "Sign up", :class => 'register' %>
        <%= render "devise/shared/links" %>
      </div>

  <% end %>


</div>