<% content_for :content_header do %>
    <section class="content-header">
      <!--<h1>
        Editing
        <small><%= link_to "xymon_set", @xymon_set %></small> --> <br />

        <ol class="breadcrumb">
          <li><a href="/"><i class="fa fa-dashboard"></i><%= t('side_menu.home') %></a></li>
          <li><%= link_to t('side_menu.xymon_config'), xymon_sets_path %></li>
          <li class="active"><%= t('menu.edit') %></li>
        </ol>
      </h1>
    </section>
<% end %>

<%= render 'form' %>
