<% content_for :content_header do %>
    <section class="content-header">
      <!--<h1>Show
        <small>xymon_set</small>
      </h1> --> <br />

      <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> <%= t('side_menu.home') %></a></li>
        <li><%= link_to "Xymon_sets", xymon_sets_path %></li>
        <li class="active"><%= t('menu.show') %></li>
      </ol>
    </section>
<% end %>

<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        <!-- <div class="box-header">
           <div class="box-tools pull-right">

           </div>
           <div class="box-tools pull-right">

           </div>
         </div> -->
        <div class="box-body">
          <dl class="dl-horizontal">
            <dt><%= t('menu.name') %>:</dt>
            <dd><%= @xymon_set.name %></dd>
            <dt><%= t('menu.value') %>:</dt>
            <dd><%= @xymon_set.value %></dd>
            <dt><%= t('menu.desc') %>:</dt>
            <dd><%= @xymon_set.desc %></dd>
            <br>
            <dt>
              <%= link_to edit_xymon_set_path(@xymon_set), :class => 'btn btn-primary' do %>

                  <%= t('menu.edit') %>
              <% end %>

            </dt>
            <dd>
              <%= link_to xymon_sets_path, :class => 'btn btn-primary' do %>

                  <%= t('menu.back') %>
              <% end %>
            </dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
</section>

