<% content_for :content_header  do %>
  <section class="content-header">
    <!--<h1><%= t('side_menu.new') %> <small><%= t('menu.todo_list') %></small></h1>--><br/>

    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> <%= t('side_menu.home') %></a></li>
      <li><%= link_to t('menu.todo_list'), todo_lists_path %></li>
      <li class="active"><%= t('side_menu.new') %></li>
    </ol>
  </section>
<% end %>

<%= render 'form' %>
