<% content_for :content_header do %>
    <section class="content-header">
      <!-- <h1><%= t('menu.show') %>
        <small><%= t('menu.todo_list') %></small>
      </h1>--><br/>

      <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i><%= t('side_menu.home') %></a></li>
        <li><%= link_to t('menu.todo_lists'), todo_lists_path %></li>
        <li class="active"><%= t('menu.show') %></li>
      </ol>
    </section>
<% end %>

<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        <!--<div class="box-header">
          <div class="box-tools pull-right">

          </div>
          <div class="box-tools pull-right">

          </div>
        </div>-->

        <div class="box-body">
          <dl class="dl-horizontal">
            <dt><%= t('menu.note')%></dt>
            <dd><%= @todo_list.note %></dd>

            <dt><%= t('menu.active')%></dt>
            <dd><%= @todo_list.active ? t('menu.active') : t('menu.passive') %></dd>
            <br>
            <dt>
              <%= link_to edit_todo_list_path(@todo_list), :class => 'btn btn-primary' do %>

                  <%= t('menu.edit') %>
              <% end %>
            </dt>
            <dd>
              <%= link_to welcome_dashboard_path, :class => 'btn btn-primary' do %>

                  <%= t('menu.back') %>
              <% end %>
            </dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
</section>

