<section class="sidebar">
  <!-- Sidebar user panel -->
  <div class="user-panel">
    <div class="pull-left image">
      <img src="/assets/bilbakalimne.jpg" class="img-circle" alt="User Image"/>
    </div>
    <div class="pull-left info">
      <p>
        Merhaba, AH
      </p>

      <a href="#"><i class="fa fa-circle text-success"></i><%= t('side_menu.online') %></a>
    </div>
  </div>
  <!-- search form -->
  <form action="#" method="get" class="sidebar-form">
    <div class="input-group">
      <input type="text" name="q" class="form-control" placeholder="<%= t('side_menu.search') %>"/>
			<span class="input-group-btn">
				<button type='submit' name='search' id='search-btn' class="btn btn-flat">
          <i class="fa fa-search"></i>
        </button> </span>
    </div>
  </form>
  <!-- /.search form -->
  <!-- sidebar menu: : style can be found in sidebar.less -->
  <ul class="sidebar-menu">
    <%= nav_link root_path do %>
        <i class="fa fa-dashboard"></i><span><%= t('side_menu.dashboard') %></span>
    <% end %>
    <%= nav_link welcome_monitor_path do %>
        <i class="fa fa-smile-o"></i><span><%= t('side_menu.monitor') %></span>
    <% end %>
    <%= nav_link console_index_path do %>
        <i class="fa fa-toggle-on"></i><span><%= t('side_menu.console') %></span>
    <% end %>
    <%= nav_link groups_path do %>
        <i class="fa fa-sitemap"></i><span><%= t('side_menu.groups') %></span>
    <% end %>
    <%= nav_link servers_path do %>
        <i class="fa fa-server"></i><span><%= t('side_menu.servers') %></span>
    <% end %>
    <%= treeview_link t('side_menu.server_operation') do %>

        <%= nav_link xas_sets_path do %>
            <i class="fa fa-globe"></i><span><%= t('side_menu.global_config') %></span>
        <% end %>
        <%= nav_link network_sets_path do %>
            <i class="fa fa-sitemap"></i><span><%= t('side_menu.network_setting') %></span>
        <% end %>
        <%= nav_link xymon_sets_path do %>
            <i class="fa fa-smile-o"></i><%= t('side_menu.xymon_config') %></span>
        <% end %>
        <%= nav_link xapachi_sets_path do %>
            <i class="fa fa-cloud"></i><%= t('side_menu.apache_config') %></span>
        <% end %>
        <%= nav_link xmail_sets_path do %>
            <i class="fa fa-envelope"></i><%= t('side_menu.mail_config') %></span>
        <% end %>
    <% end %>

  </ul>
</section>